/DuplicateAndDelete.class
/SimpleInterest.class
/anagram.class
/duplicateNumber.class
/numberSwap.class
/palindrom.class
/pattern1.class
/pattern2.class
/pattern3.class
/pattern4.class
/primeNumber.class
/largestNumber.class
